/*

* Skeleton V1.1

* Copyright 2011, Dave Gamache

* www.getskeleton.com

* Free to use under the MIT license.

* http://www.opensource.org/licenses/mit-license.php

* 8/17/2011

*/
/* Table of Contents

==================================================

    #Base 960 Grid

    #Tablet (Portrait)

    #Mobile (Portrait)

    #Mobile (Landscape)

    #Clearing */
/* #Base 960 Grid

================================================== */
.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}
 .container .offset-by-fourteen { padding-left: 840px }
 .container .offset-by-thirteen { padding-left: 780px }
 .container .offset-by-fifteen { padding-left: 900px }
 .container .two-thirds.column { width: 620px }
 .container .thirteen.columns { width: 760px }
 .container .offset-by-twelve { padding-left: 720px }
 .container .offset-by-eleven { padding-left: 660px }
 .container .fourteen.columns { width: 820px }
 .container .one-third.column { width: 300px }
 .container .offset-by-eight { padding-left: 480px }
 .container .fifteen.columns { width: 880px }
 .container .offset-by-seven { padding-left: 420px }
 .container .sixteen.columns { width: 940px }
 .container .offset-by-three { padding-left: 180px }
 .container .offset-by-nine { padding-left: 540px }
 .container .offset-by-four { padding-left: 240px }
 .container .eleven.columns { width: 640px }
 .container .twelve.columns { width: 700px }
 .container .offset-by-five { padding-left: 300px }
 .container .eight.columns { width: 460px }
 .container .offset-by-six { padding-left: 360px }
 .container .offset-by-two { padding-left: 120px }
 .container .offset-by-one { padding-left: 60px }
 .container .offset-by-ten { padding-left: 600px }
 .container .three.columns { width: 160px }
 .container .seven.columns { width: 400px }
 .container .five.columns { width: 300px }
 .container .nine.columns { width: 520px }
 .container .four.columns { width: 220px }
 .container .ten.columns { width: 580px }
 .container .two.columns { width: 100px }
 .container .six.columns { width: 340px }
 .container .one.column, .container .one.columns { width: 40px }
 .container .column, .container .columns {
     display: inline;
     float: left;
     margin-left: 10px;
     margin-right: 10px;
 }
.container:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.row { margin-bottom: 20px }
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.row:after, .clearfix:after { clear: both }
/* Nested Column Classes */
.column.alpha, .columns.alpha { margin-left: 0 }
.column.omega, .columns.omega { margin-right: 0 }
/* Base Grid */
/* Offsets */
/* #Tablet (Portrait)

================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) { 
    .container { width: 768px }
     .container .offset-by-thirteen { padding-left: 624px }
     .container .offset-by-fourteen { padding-left: 672px }
     .container .two-thirds.column { width: 492px }
     .container .offset-by-fifteen { padding-left: 720px }
     .container .thirteen.columns { width: 604px }
     .container .offset-by-twelve { padding-left: 576px }
     .container .fourteen.columns { width: 652px }
     .container .one-third.column { width: 236px }
     .container .offset-by-eleven { padding-left: 528px }
     .container .offset-by-eight { padding-left: 384px }
     .container .fifteen.columns { width: 700px }
     .container .offset-by-three { padding-left: 144px }
     .container .offset-by-seven { padding-left: 336px }
     .container .sixteen.columns { width: 748px }
     .container .eleven.columns { width: 508px }
     .container .twelve.columns { width: 556px }
     .container .offset-by-four { padding-left: 192px }
     .container .offset-by-five { padding-left: 240px }
     .container .offset-by-nine { padding-left: 432px }
     .container .three.columns { width: 124px }
     .container .offset-by-one { padding-left: 48px }
     .container .seven.columns { width: 316px }
     .container .eight.columns { width: 364px }
     .container .offset-by-ten { padding-left: 480px }
     .container .offset-by-two { padding-left: 96px }
     .container .offset-by-six { padding-left: 288px }
     .container .four.columns { width: 172px }
     .container .five.columns { width: 220px }
     .container .nine.columns { width: 412px }
     .container .two.columns { width: 76px }
     .container .six.columns { width: 268px }
     .container .ten.columns { width: 460px }
     .container .one.column, .container .one.columns { width: 28px }
     .container .column, .container .columns {
         margin-left: 10px;
         margin-right: 10px;
     }
    .column.alpha, .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }
    .column.omega, .columns.omega {
        margin-left: 10px;
        margin-right: 0;
    }
    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }
    /* Offsets */
}
/*  #Mobile (Portrait)

================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) { 
    .container { width: 300px }
     .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen { padding-left: 0 }
     .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column { width: 300px }
     .container .columns, .container .column { margin: 0 }
    /* Offsets */
}
/* #Mobile (Landscape)

================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .container { width: 420px }
     .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column { width: 420px }
     .container .columns, .container .column { margin: 0 }
}
/* Layout Shortcodes 
================================================== */
.full-width {
    height: auto;
    overflow: hidden;
    width: 960px;
}
.one_half { width: 49.25% }
.one_third { width: 32.33% }
.two_thirds { width: 66.1666666667% }
.one_fourth { width: 23.875% }
.three_fourths { width: 74.625% }
.one_sixth { width: 15.4166666667% }
.five_sixth { width: 83.0833333333% }
.one_half, .one_third, .two_thirds, .three_fourths, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    /*4%;_NO__DOTCOMMA__AFTER__*/
    float: left;
    margin-bottom: 20px;
    margin-right: 1.5%;
    nowhitespace: afterproperty;
    position: relative;
}
.last { margin-right: 0 }
/* #Clearing

================================================== */
/* Self Clearing Goodness */
/* Use clearfix class on parent to clear nested columns,

    or wrap each row of columns in a 
 */
/* You can also use a 
 to clear columns */
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}