/*
	Stylesheet for Dark skin
	Color Scheme: Dark
*/

a, a:visited{color:#fff;}
.button,
.custom-button a,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	text-shadow:none;
}
body{color:#999;}
h1, h2, h3, h4, h5, h6 {
	color: #949494;
}
.white{background: #FFF;}
div.white h1, div.white h2, div.white h3, div.white h4, div.white h5, div.white h6{color:#333;}
body,
.header,
.band.navigation{background: url("../../images/BG_RB_brown.png");} /*zigzag.png*/
.content{background:url("../../images/content_bg4.png");}
.box { background:#eee; border:1px solid #ccc;}
.band.navigation {	
	color: #e0e0e0; 	
}
.band.footer {
	/*color: #464646; */
	background: #131313;
}
.band.bottom {
	color: #e0e0e0;
}
/*ie multiple background image fallbacks*/
.ie .band.navigation {
	background: url(../../images/bg_dark.png) repeat left 2px #343434;
}
.ie .band.footer {
	background: url(../../images/bg_dark.png) repeat left 2px #343434;
}
.ie .band.bottom {
	background: url(../../images/bg_bottom.png) repeat #343434;
}
#nav{border-bottom: 1px solid #333;}
nav.primary ul li a {
	color: #999;
}
nav.primary ul li a:hover {
	background: #424242;
}
/*sub menu*/
nav.primary ul ul {
	background:#ffffff;
}
nav.primary ul ul li {
	border-top: 1px solid #fafafa;
	background:#666;
	color:white;
}
nav.primary ul ul li a {
	color:white;
}
nav.primary ul li:hover > a,  nav.primary ul li a.active{
	color: white;
}
#tooltip, #colourTooltip {
	background: 	black;
	color: 	white;
}
/*images*/
figure {
	
	border: 1px solid #ededed;
	background: #ffffff;
	
}
/*Blog Articles on Home Page*/
#blog-section-home article{
	border-bottom: 1px solid #333;	
}
#blog-section-home article h5.heading {
	background: #34353D;
	border-bottom: 1px solid #484955;
	border-right: 1px solid #484955;
	border-top: 1px solid #484955;
	color: white;
}
#blog-section-home article p.heading, #blog-section-home article h5.heading a {
	color: white ;
}
/*blog styles - thumbnail articles, featured image articles, no image articles, single post*/
#blog-section article, div.type-post{
	border-bottom:1px solid #333;
}
#blog-section article h5.heading, div.type-post h5.heading {
	background: #34353D;
	border-bottom: 1px solid #484955;
	border-right: 1px solid #484955;
	border-top: 1px solid #484955;
	color: white;
}
#blog-section article h5.heading a, div.type-post h5.heading a {
	color: white ;
	
}
.author-meta{border-top:1px solid #333;}
#blog-section article p.heading, div.type-post p.heading {
	color: white;
}
/*blog sidebar*/
.widget{
	background:#ececec;
}
.widget h5{
	color:#333;
	background:	#D5D5D5;
}

.sidebar ul.tabs-content li ol.postlist li,
.sidebar ul.tabs-content li.active ol.postlist li,
ol.postlist li{padding: 0px;
border-bottom: 1px dotted #ccc;}
#related-posts h5{
	color: #ccc;
	border-bottom: 1px solid #333;
}
#related-posts ul {background: #333;}
#comments{ border-bottom: 1px solid #333; }
#comments h5{
	color: #ccc;
}
ul.children li:last-child {border-bottom: 1px solid #333;}
hr {
	border-bottom: 1px dashed #333;
}
.divider {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid white;
}
/*Pricing Table*/
.pricingcol{background: #eee;}
.preferred{border: 1px solid #e91c6b;}
.profitable{color:white; background:#e91c6b;}
.profitable h1,.profitable h2,.profitable h3,.profitable h4,.profitable h5,.profitable h6{color:white;}
.profitable div.divider{
	border-bottom: 1px solid white;}
.ei-slider-loading{
    background: rgba(0,0,0,0.9);
    color: #fff;
}
.ei-title{
    background: url('../../images/stitch_large.png') repeat-y top right #dadada;
}
.ei-title h2{
    color: #303030;
    text-shadow: #CCC 0 1px 0px;
    
}
.ei-title h3{
    color: #000;
}
.ei-slider-thumbs li.ei-slider-element{
    background: #e91c6b;
}
.ei-slider-thumbs li a{
    background: #6e6e6e;
    
    box-shadow:
        0px 1px 1px 0px rgba(0,0,0,0.3),
        0px 1px 0px 1px rgba(255,255,255,0.5);
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
    background-color: #f0f0f0;
}
	
	.flex-control-nav li a {
		background: #363636;
		border: 1px solid #363636;
	}
	
	.flex-control-nav li a.active,
	.flex-control-nav li a:hover {
		border: 1px solid #363636;
	}
	
	.prev{ background: #5e5e5e url('../../images/prev_icon.png') no-repeat;
			}
	.next{ background: #5e5e5e url('../../images/next_icon.png') no-repeat;
			}
	
	
/*articles*/
article.sub header {
	background: url(../../images/diagonal_pale.png) repeat;
}
article.sub header h4 {
	
	color: #999999;
	background: url(../../images/bg_main.png) repeat #f8f8f8;
}
footer.bottom a,
footer.bottom a:visited {
	color: #222;
}
footer.bottom a:hover {
	color: #fcfcfc;
}
footer a,
footer a:visited {
	color: #6e6e6e;
}
footer a:hover {
	color: #e91c6b;
}
footer.main div.footer_section h4 {
	color: white;
}

	
/*flickr*/
div.flickr_feed img {
	border: 1px solid #ededed;
	background: #ffffff;
}
div.bio{
 
	background: #313131; 
}
p.name{ font-size: 15px; color: #fcfcfc;}
p.occupation{ color:#fafafa;}

/*Portfolio*/
#portfolio-nav li{
	
	background: #f6f6f6;
	
}
#portfolio-nav li:hover a{color:#fff;}
#portfolio-nav li a{ color:#5e5e5e; 
}
#portfolio-nav li a:hover{color:#fff;}
#portfolio-nav li.current a{color: #ffffff;}
#portfolio li img{
	/*border:4px solid #afafaf;*/
}
ul#portfolio-2col li .inner-item h4, ul#portfolio li .inner-item h4{
	color:#fff;
}
ul#portfolio-2col li .inner-item div.text, ul#portfolio li .inner-item div.text{
	background:#fefefe;
}
ul#portfolio-2col li .inner-item div.text h3, ul#portfolio li .inner-item div.text h3{
	color:#313030;
}
ul#portfolio-2col li .inner-item div.text p, ul#portfolio li .inner-item div.text p{
	color:#595858;
	
}
#featured-work-item{max-height:380px; 
	background: #fff;
	
	border:1px solid #ccc;
}
#featured-work-item .prev{background: #aaa url('../../images/bg-arrow-sm.png') no-repeat 8px center;}
#featured-work-item .next{background:#aaa url('../../images/bg-arrow-sm.png') no-repeat -25px center;}
#related-works h4{
color: #ccc;
border-bottom: 1px solid #ccc;}
#related-works ul li a span, a.tile span{
	color: white;
}
ul.categories li {
	border-bottom: 1px dashed #e5e5e5;
}
ul.categories li a:hover {
	background: #ffffff;
}
ul.tabs li a.active {
	color: white;
}
.tabs-content li {
	/*border: 1px solid #DDD;*/
}
.icon.rss {
	color: #ef7908;
}
.icon.twitter {
	color: #39bae6;
}
nav.pagination li a, nav.pagination li span {
	border-bottom: 3px solid #cccccc;
}
nav.pagination li span.current,
nav.pagination li a.selected {
	color: #e91c6b;
}

.pagination span, .pagination a {
	color:#333;
	background: #CCC;
}
 


/* #Page Styles
================================================== */
/*Typography*/
div.band h4{color:#999; text-shadow: none;}
h2.sectionhead, h2.sectionhead_css, h3.sectionhead, h3.sectionhead_css {
	border-bottom:1px solid #333;
}
div.white h1.pageTitle, h1.pageTitle
{
	background: #333;
	color: #A4A4A4;
}

/* Menu Styles
================================================== */
.sf-menu a  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#FFF;
}